*{
	margin:0;
    padding:0;
}

#header{
	padding:6px;
	background-color:#FBF0F2;
}
body{
	background-color:#FBD3D8;
}

select{
		width:120px;
	}
button {
	float:right;
	position:relative;
	width:60px;
}

form[name="fPostojeca"]{

	width:60%;
	margin:0 auto;
	padding:30px;
	margin-top:4px;
    background-color: #DA5B84;
	box-shadow: 3px 3px 2px gray;
		overflow:hidden;
}
p{
	font-weight:bold;
}
#help1,#help2 ul{

	width:120px;
}
form[name="fNova"]{

	width:60%;
	margin:0 auto;
	padding:30px;
	height:300px;
	margin-top:2px;
    background-color: #DA5B84;
	box-shadow: 3px 3px 2px gray;
		overflow:hidden;
}
input[type="button"]{
	position:relative;
	float:right;
}
#help1,#help2{
	text-align:left;
	width:200px;
	overflow:hidden;
    word-wrap: break-word;
	margin:0 auto;
}
select{
	width:200px;
}
input[type="text"]{
	width:200px;
}
#block{
	display:inline-block;
}
#text{
	float:right;
	font-size:22px;
	color:brown;
	font-weight:bold;
	margin-right:10px;
	margin-top:10px;
}


#meni ul{
}
#meni li{
	display:inline-block;
	padding-right:20px;
}
#sGodine{
	width:100px;
}

#glavniSadrzaj{
	width:85%;
	margin:0 auto;
	min-height:800px;
	height:auto;
	overflow:hidden;
	background-color:white;

}
input[type="checkbox"]{
	float:left;

}
@media screen and (max-width: 600px) {
  #glavniSadrzaj{
	width:100%;
}
 #text{
		 float:left;
		 position:absolute;
		 bottom:0;
		 top:180px;
	 }
	 #header{
	 height:200px;
	 }
}

#footer{
	font-size:40px;
	float:left;
	color:brown;
	clear:both;
	width:100%;
}
#footer p{
margin:0;
padding:5px;
position:relative;
	font-size:25px;
	background-color:#FBF0F2;
}